$navy: #011627;
$teal: #2ec4b6; 
$off-white: #fffffa; 

#about-label-container {
	background-color: $teal; 
}

.about-header {
	width: 260px; 
}

.about-me-container {
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	p {
		margin: 0 20px 15px 20px;
		line-height: 26px;
    font-size: 16px; 
	}
}

.about-me-text-container {
	margin-top: 10px; 
	a {
		color: $navy; 
		font-weight: bold; 
		// opacity: 0.8; 
		border-bottom: 1px $teal dashed;
		text-decoration: none; 
		&:hover {
			opacity: 1;
			color: $teal;  
		}
	}
}

.about-me-intro {
	font-size: 24px !important; 
}

.profile-picture {
	background-image: url('../imgs/profile.jpg');
	width: 160px; 
	height: 150px; 
	background-size: 160px 150px;
}

.profile-picture {
	width: 150px;
	margin: 30px 0;
	border-radius: 2px;  
}

