$navy: #011627;
$teal: #2ec4b6; 
$off-white: #fffffa; 

.contact-label-container {
	background-color: $navy; 
	height: 100vh; 
}

#contact-details {
	height: 100vh;
}
.contact-header {
 	width: 270px;
}  