$navy: #011627;
$teal: #2ec4b6;
$off-white: #fffffa;
$cursive: 'VayenthaScript';

#contact-label-container {
	background-color: $navy;
	h2 {
		color: $off-white;
	}
}

#contact-details {
	height: 60vh;
	padding: 16px;
	a {
		color: inherit;
	}
	p {
		font-size: 18px;
		line-height: 30px;
	}
}

.contact-header {
 	width: 285px;
}

#name-contact {
	font-size: 4.5em !important;
	margin: 30px 0 !important;
	color: $teal;
	font-family: $cursive;
}
