@import "introduction"; 
@import "about"; 
@import "work"; 
@import "contact"; 
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,400i,700,700i|Martel+Sans:200,300,400|News+Cycle:400,700');

@-ms-viewport {
  width: device-width;
}

@font-face {
  font-family: 'amethystregular';
  src: url('../fonts/amethyst-webfont.woff2') format('woff2'),
       url('../fonts/amethyst-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$navy: #011627;
$teal: #2ec4b6; 
$off-white: #fffffa; 
$accent-font: 'amethystregular';

body { 
  margin: 0; 
  font-family: 'Libre Franklin 100', sans-serif;
  color: $navy;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal; 
}

.centered-container {
	height: 100vh; 
	flex-direction: column; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
}

.bold {
	font-weight: bold; 
}

.details {
	margin: 20px;
	p {
		font-size: 16px;
		line-height: 26px; 
	}
	ul {
		list-style: none;
		padding-left:0;  
		li {
			display: inline-block;
			&:not(:first-child) {
				padding: 15px;
			} 
			&:first-child {
				padding: 15px 15px 15px 0; 
			}
		}
	}
	a {
		color: $navy;
		font-size: 18px; 
		&:hover {
			opacity: 0.7; 
		}
	}
}

.fa {
	padding-right: 15px;
	padding-top: 10px; 
	color: $teal;
	&:hover {
		opacity: 0.7;
	}
}

.project-github {
	color: $navy !important; 
	padding-right: 8px !important;
}

.menu-section {
	-moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
  width: 100%;
}

.hide {
	display: none; 
}

.menu-section__toggle {
	width: 40px;
  height: 30px;
  position: fixed;
  top: 20px;
  left: 25px;
  cursor: pointer;
  z-index: 100;
}

.menu-section__toggle.on {
  left: auto; 
  right: 25px;
}

.menu-section.on {
  z-index: 100;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(1,22,39,0.95);
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center; 
  justify-content: center; 
  nav { 
  	ul {
  		list-style: none;
  		padding-left: 0; 
  		li {
  			&:hover {
  				color: $teal; 
  			}
  		}
  	}
  }
}

.nav-link {
	text-decoration: none; 
	color: $off-white; 
	font-size: 40px;
	line-height: 80px;
	font-family: $accent-font;
}

.toggle1, .toggle2, .toggle3 {
	width: 100%; 
	background: lightgray; 
	margin: 8px auto; 
	height: 2px; 
}

.toggle1.on, .toggle3.on {
	float: right;
	margin: 8px 8px; 
	height: 3px; 
}

.toggle1.on {
	transform: rotate(45deg) translate(7px, 6px);
}

.toggle2.on {
	display: none; 
}

.toggle3.on {
	transform: rotate(-45deg) translate(8px, -8px); 
}


@media screen and (min-width: 460px) {
  .name-header {
  	width: 320px;  
  }

  #introduction-container {
  	h2, ul {
  		font-size: 26px; 
  	}
  }

  .about-header {
  	width: 320px;
  }

  .profile-picture {
  	width: 160px; 
  }

  .about-me-text-container {
  	p {
  		font-size: 18px; 
  	}
  }

  .work-header {
  	width: 290px; 
  }

  .work-sample-header {
  	font-size: 48px; 
  }

  .work-sample-description {
  	font-size: 22px; 
  }

  .see-project-details-button {
  	font-size: 16px; 
  }

  .screenshot {
    width: 460px;
    height: 300px;
    background-size: 460px 300px;
  }

  .details {
  	p {
  		font-size: 18px; 
  	}
  }

  .jump-to-code {
  	font-size: 16px !important;
  }

  .project-github {
  	font-size: 24px; 
  }

  .node {
  	width: 50px !important;
  }
  .icon {
  	width: 60px; 
  }

  #edster-algo {
  	width: 460px; 
  }

  .contact-header {
  	width: 380px; 
  }

}