@import "introduction";
@import "about";
@import "work";
@import "contact";
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,400i,700,700i|Martel+Sans:200,300,400|News+Cycle:400,700');

@-ms-viewport {
  width: device-width;
}

@font-face {
  font-family: 'amethystregular';
  src: url('../fonts/amethyst-webfont.woff2') format('woff2'),
       url('../fonts/amethyst-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'VayenthaScript';
    src: url('../fonts/VayenthaScript.eot');
    src: url('../fonts/VayenthaScript.eot') format('embedded-opentype'),
         url('../fonts/VayenthaScript.woff2') format('woff2'),
         url('../fonts/VayenthaScript.woff') format('woff'),
         url('../fonts/VayenthaScript.ttf') format('truetype'),
         url('../fonts/VayenthaScript.svg#VayenthaScript') format('svg');
}

@font-face {
    font-family: 'VayenthaSans';
    src: url('../fonts/VayenthaSans.eot');
    src: url('../fonts/VayenthaSans.eot') format('embedded-opentype'),
         url('../fonts/VayenthaSans.woff2') format('woff2'),
         url('../fonts/VayenthaSans.woff') format('woff'),
         url('../fonts/VayenthaSans.ttf') format('truetype'),
         url('../fonts/VayenthaSans.svg#VayenthaSans') format('svg');
}

$navy: #011627;
$teal: #2ec4b6;
$off-white: #fffffa;
$accent-font: 'amethystregular';
$cursive: 'VayenthaScript';
$fancysans: 'VayenthaSans';

* {
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Libre Franklin 100', sans-serif;
  color: $navy;

}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.cancel-nav {
  width: 20px;
  position: absolute;
  right: 36px;
  top: 30px;
}

.n-header {
  width:600px;
}

#work-label-container, #about-label-container,  #contact-label-container {
  h2 {
    font-family: $cursive;
    font-size: 11em;
    margin: 0;
  }
}

.nav-link {
  text-decoration: none;
  color: $off-white;
  font-size: 5em;
  font-family: $cursive;
}

.centered-container {
	height: 100vh;
	min-height: 800px;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bold {
	font-weight: bold;
}

.details {
	margin-left: 20px;
  margin-bottom: 20px;
	p {
		font-size: 16px;
		line-height: 26px;
	}
	ul {
		list-style: none;
		padding-left:0;
		margin: 0;
		li {
			display: inline-block;
			&:not(:first-child) {
				padding: 15px;
			}
			&:first-child {
				padding: 10px 10px 10px 0;
			}
		}
	}
	a {
		color: $navy;
		font-size: 16px;
		&:hover {
			color: $teal;
		}
	}
}

.fa {
	padding-right: 15px;
	padding-top: 10px;
	color: $teal;
	&:hover {
		opacity: 0.7;
	}
}

.project-github {
	color: $navy !important;
	padding-right: 8px !important;
}

.menu-section {
	-moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
  width: 100%;
  position: relative;
}

.hide {
	display: none;
}

.menu-section__toggle {
	width: 40px;
  height: 30px;
  position: fixed;
  top: 20px;
  left: 25px;
  cursor: pointer;
  z-index: 100;
}

.menu-section__toggle.on {
  left: auto;
  right: 25px;
}

.menu-section.on {
  z-index: 100;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(1,22,39,0.95);
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  nav {
  	ul {
  		list-style: none;
  		padding-left: 0;
  		li {
  			&:hover {
  				color: $teal;
  			}
  		}
  	}
  }
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 50%;
	z-index: 1;
	background-color: white;
}

.absolute {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.right {
	float: right;
}

.toggle1, .toggle2, .toggle3 {
	width: 100%;
	background: lightgray;
	margin: 8px auto;
	height: 2px;
}

@media screen and (min-width: 460px) {
  .name-header {
  	width: 320px;
  }

  #work-label-container, #about-label-container,  #contact-label-container {
    h2 {
      font-size: 13em;
    }
  }

  #introduction-container {
    h1 {
      font-size: 13em;
    }

  	h2, ul {
  		font-size: 3em;
  	}
  }

  #about-header {
  	width: 320px;
  }

  #profile-picture {
  	width: 160px;
  }

  #about-me-text-container {
  	p {
  		font-size: 18px;
  	}
  }

  .nav-link {
    font-size: 8em;
  }

  #work-header {
  	width: 290px;
  }

  .work-sample-header {
  	font-size: 48px;
  }

  .work-sample-description {
  	font-size: 22px;
  }

  .see-project-details-button {
  	font-size: 16px;
  }

  .details {
  	p, a {
  		font-size: 18px;
  	}
  }

  .jump-to-code {
  	font-size: 16px !important;
  }

  .project-github {
  	font-size: 24px;
  }

  .node {
  	width: 50px !important;
  }
  .icon {
  	width: 60px;
  }

  .contact-header {
  	width: 340px;
  }
}

@media screen and (min-width: 600px) {

	.screenshot, #edster-algo {
		width: 80%;
	}
}

@media screen and (min-width: 768px) {

  .cancel-nav {
    width: 28px;
  }

  #introduction-container {
    h1 {
      font-size: 15em;
      margin: 0;
    }

    h2, ul {
      font-size: 5em;
    }
  }

	.name-header {
		width: 380px;
		margin: 40px 15px 40px 0;
	}

  #name-contact {
    font-size: 5em !important;
  }

	.work-label-wrapper {
		width: 50%;
		position: relative;
	}

	.section-container {
		display: flex;
	}

	.label-container, .content-container {
		width: 50%;
	}

	#about-me-container {
		align-items: flex-start;
		justify-content: center;
		p {
			line-height: 28px;
    	font-size: 18px;
		}
	}

	#profile-picture {
		margin: 0 0 15px 30px;
	}

	.details {
		margin:0;
		border-left :1px solid $teal;
		border-bottom: 1px solid $teal;
		padding: 0 24px;
		ul {
			margin-bottom: 20px;
		}
	}

	#contact-details {
		padding: 35px;
		height:100vh;
		min-height: 800px;
		position: relative;
		p {
			padding-right: 14px;
			font-size: 20px;
			line-height: 32px;
		}
	}

	#contact-name-email {
		position: absolute;
		top: 27%;
	}

	#contact-links {
		position: absolute;
		bottom: 30%;
		font-size:18px;
	}

	.close-button-container {
		margin-right: 10px;
    margin-top: 5px;
	}

	.screenshot {
		margin-top: 60px;
	}

	#localize-details-container,
	#edster-details-container,
	#kapitol-details-container,
	#yaarn-details-container  {
		width: 100%;
	}

}

@media screen and (min-width: 1200px) {

  #introduction-container {
    h1 {
      font-size: 20em;
    }
  }

	.name-header {
		width: 420px;
    margin: 50px 15px 50px 0;
	}

	#about-header {
		width: 360px;
	}

	#about-me-text-container {
		margin: 0 60px 20px 60px;
	}

	#about-me-container {
		p {
			line-height: 32px;
    	font-size: 18px;
    	margin-bottom: 24px;
		}
	}

	#profile-picture {
		width: 175px;
		margin: 0 0 10px 60px;
	}

	#work-header {
		width: 315px;
	}

	#contact-details {
		p {
			padding-right: 30px;
		}
	}

	#contact-links {
		bottom: 30%;
    font-size: 20px;
	}

	.contact-header {
		width: 450px;
	}

}

@media screen and (min-width: 1440px) {

  #introduction-container {
    h1 {
      font-size: 25em;
      margin-bottom: 50px;
    }

    h2, ul {
      font-size: 6em;
    }
  }

  #work-label-container, #about-label-container,  #contact-label-container {
    h2 {
      font-family: $cursive;
      font-size: 18em;
      margin: 0;
    }
  }

  #about-me-text-container {
    p {
      font-size: 20px;
    }
  }

  #contact-details  {
    p {
      font-size: 22px;
    }
  }

  #profile-picture {
    font-size: 200px;
  }

}

