#work-header {
	margin-right: 10px; 
	width: 240px; 
}

.screenshot {
	width: 100%;
	margin-top: 15px; 
	box-shadow: 1px 1px 1px 1px #ccc; 	
	filter: brightness(100%); 
	transition: all 2s ease;	
	&:hover {
		filter: brightness(80%);
		transition: all 2s ease;
	} 
}

#localize-container {
	height: 100vh; 
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
	url('../imgs/city.jpg')
	no-repeat center center scroll;
background-size: cover;
}

#edster-container {
	height: 100vh; 
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
	url('../imgs/travel.jpg')
	no-repeat center center scroll;
background-size: cover;
}

#kapitol-container {
	height: 100vh; 
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
	url('../imgs/kapitol.jpg')
	no-repeat center center scroll;
	background-size: cover;
}

#yaarn-container {
	height: 100vh; 
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
	url('../imgs/yaarn-story.jpg')
	no-repeat center center scroll;
	background-size: cover;
}

#localize-details-container, #edster-details-container, #kapitol-details-container, #yaarn-details-container {
	width: 90%; 
}

.work-sample-header, .work-sample-description, .see-project-details-button {
	color: white; 
	margin: 0; 
}

.work-sample-description {
	font-size: 18px;
}

.work-sample-header {
	font-size: 36px;
}

.work-label-wrapper {
	width: 100%; 
}

.see-project-details-button {
	border: 3px solid $teal;
	background-color: transparent;
	padding: 14px 8px; 
  font-size: 14px;
 	margin: 8px 0; 
	&:hover {
		opacity: 0.7;
	}
	&:focus {
		outline: none; 
	}
}

.project-details {
	margin: 20px; 
	p, span {
		font-size: 16px;
    line-height: 26px; 
	}

	a {
		color: $navy;
		font-size: 14px; 
		&:hover {
			opacity: 0.7; 
		}
	}
}

.hidden {
	display: none; 
}

.close-button {
	margin: 5px;
	font-size: 20px;
	border: none;
	background: transparent;
	padding: 8px 16px;
	color: $teal;
	opacity: 0.8;
	img {
		width: 25px; 
	}
  &:hover {
  	opacity: 0.5; 
  }
  &:focus {
  	outline: 0; 
  }
}

.close-button-container {
	width:10%; 
	float:right;  
}

#edster-algo {
	width: 100%;
}

.icon {
	width: 45px; 
}

.node {
	width: 40px;
}

.react {
	padding-left: 0 !important;
}

.mongo {
	width: 25px; 
}

.jump-to-code {
	font-size: 14px !important;
	margin: 0; 
}

.hover-text {
  display: none;
  font-size: 12px;
  position: absolute;
  color: $navy;
  font-weight: bold;
  text-align: center; 
  width: 45px; 
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s; 
  -ms-animation: fadein 2s; 
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.react-icon:hover + .hover-text, 
.node-icon:hover + .hover-text, 
.passport-icon:hover + .hover-text, 
.postgresql-icon:hover + .hover-text, 
.oauth-icon:hover + .hover-text, 
.mongodb-icon:hover + .hover-text {
  display: block; 
}


