.work-header {
	margin-right: 10px; 
	width: 240px; 
}

#localize-screenshot {
	width: 350px;
	height: 250px;
	// border: 1px solid lightgray;
	box-shadow: 1px 1px 1px 1px #ccc;
	background-image: url('../imgs/localize.png');
	background-size: 350px 250px;
	span {
		display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.10);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    &:hover {
    	opacity: 1;
    }
	}
}

#localize-container {
	height: 100vh; 
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
	url('../imgs/city.jpg')
	no-repeat center center fixed;
background-size: cover;
}

#edster-container {
	height: 100vh; 
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
	url('../imgs/travel.jpg')
	no-repeat center center fixed;
background-size: cover;
}

#kapitol-container {
	height: 100vh; 
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
	url('../imgs/kapitol.jpg')
	no-repeat center center fixed;
	background-size: cover;
}

#yaarn-container {
	height: 100vh; 
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
	url('../imgs/yaarn-story.jpg')
	no-repeat center center fixed;
	background-size: cover;
}

.work-sample-header, .work-sample-description, .see-project-details-button {
	color: white; 
	margin: 0; 
}

.work-sample-description {
	font-size: 18px;
}

.work-sample-header {
	font-size: 36px;
}

.see-project-details-button {
	border: 3px solid $teal;
	background-color: transparent;
	height: 50px;
  width: 55px;
  font-size: 14px;
 	margin: 8px 0; 
	&:hover {
		opacity: 0.7;
	}
	&:focus {
		outline: none; 
	}
}

.project-details {
	margin: 20px; 
	p, span {
		font-size: 18px;
    line-height: 28px; 
	}

	a {
		color: $navy;
		font-size: 14px; 
		&:hover {
			opacity: 0.7; 
		}
	}
}

.hidden {
	display: none; 
}

.close-button {
	float: right;
	margin: 15px 30px;
  font-size: 18px;
  background: transparent;
  border: none;
  color: $teal;
  &:hover {
  	opacity: 0.7; 
  }
}

.close-button-container {
	height: 30px;  
}
