@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,400i,700,700i|Martel+Sans:200,300,400|News+Cycle:400,700");
#introduction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #011627;
  height: 100vh;
  min-height: 800px; }
  #introduction-container a {
    color: inherit;
    text-decoration: none;
    padding-bottom: 6px; }
    #introduction-container a:hover {
      border-bottom: 3px solid #fffffa; }
  #introduction-container h1 {
    font-family: "amethystregular";
    color: #fffffa; }
  #introduction-container h2, #introduction-container ul {
    color: #2ec4b6;
    font-family: 'Libre Franklin 100', sans-serif;
    margin: 0;
    font-size: 20px; }
  #introduction-container ul {
    list-style: none;
    padding-left: 0;
    padding-top: 14px; }
    #introduction-container ul li {
      display: inline-block;
      text-align: center;
      line-height: 28px; }

.name-header {
  width: 270px;
  margin: 30px 15px 30px 0; }

#about-label-container {
  background-color: #2ec4b6; }

#about-header {
  width: 260px; }

#about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 1; }
  #about-me-container p {
    line-height: 26px;
    font-size: 16px; }

#about-me-text-container {
  margin: 0px 20px 20px 30px;
  max-width: 100%; }
  #about-me-text-container a {
    color: #011627; }
    #about-me-text-container a:hover {
      color: #2ec4b6; }

#about-me-intro {
  font-size: 24px !important; }

#profile-picture {
  width: 150px;
  margin: 30px 0 10px 0;
  border-radius: 2px; }

#work-header {
  margin-right: 10px;
  width: 240px; }

.screenshot {
  width: 100%;
  margin-top: 20px;
  box-shadow: 1px 1px 1px 1px #ccc;
  filter: brightness(100%);
  transition: all 2s ease; }
  .screenshot:hover {
    filter: brightness(80%);
    transition: all 2s ease; }

#localize-container {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/city.jpg") no-repeat center center scroll;
  background-size: cover; }

#edster-container {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/travel.jpg") no-repeat center center scroll;
  background-size: cover; }

#kapitol-container {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/kapitol.jpg") no-repeat center center scroll;
  background-size: cover; }

#yaarn-container {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/yaarn-story.jpg") no-repeat center center scroll;
  background-size: cover; }

.work-sample-header, .work-sample-description, .see-project-details-button {
  color: white;
  margin: 0; }

.work-sample-description {
  font-size: 18px; }

.work-sample-header {
  font-size: 36px; }

.work-label-wrapper {
  width: 100%; }

.see-project-details-button {
  border: 3px solid #2ec4b6;
  background-color: transparent;
  padding: 14px 8px;
  font-size: 14px;
  margin: 8px 0; }
  .see-project-details-button:hover {
    opacity: 0.7; }
  .see-project-details-button:focus {
    outline: none; }

.project-details {
  margin: 20px; }
  .project-details p, .project-details span {
    font-size: 16px;
    line-height: 26px; }
  .project-details a {
    color: #011627;
    font-size: 14px; }
    .project-details a:hover {
      opacity: 0.7; }

.hidden {
  display: none; }

.close-button {
  margin: 5px;
  font-size: 20px;
  border: none;
  background: transparent;
  padding: 8px 16px;
  color: #2ec4b6;
  opacity: 0.8; }
  .close-button:hover {
    opacity: 0.5; }
  .close-button:focus {
    outline: 0; }

.close-button-container {
  width: 10%;
  float: right; }

#edster-algo {
  width: 100%; }

.icon {
  width: 45px; }

.node {
  width: 40px; }

.react {
  padding-left: 0 !important; }

.mongo {
  width: 25px; }

.jump-to-code {
  font-size: 14px !important;
  margin: 0; }

.hover-text {
  display: none;
  font-size: 12px;
  position: absolute;
  color: #011627;
  font-weight: bold;
  text-align: center;
  width: 45px;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.react-icon:hover + .hover-text,
.node-icon:hover + .hover-text,
.passport-icon:hover + .hover-text,
.postgresql-icon:hover + .hover-text,
.oauth-icon:hover + .hover-text,
.mongodb-icon:hover + .hover-text {
  display: block; }

#contact-label-container {
  background-color: #011627; }

#contact-details {
  height: 60vh;
  padding: 15px; }
  #contact-details a {
    color: inherit; }
  #contact-details p {
    font-size: 18px;
    line-height: 30px; }

.contact-header {
  width: 285px; }

#name-contact {
  font-size: 20px;
  color: #2ec4b6; }

@-ms-viewport {
  width: device-width; }

@font-face {
  font-family: 'amethystregular';
  src: url("../fonts/amethyst-webfont.woff2") format("woff2"), url("../fonts/amethyst-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Libre Franklin 100', sans-serif;
  color: #011627; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.centered-container {
  height: 100vh;
  min-height: 800px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center; }

.bold {
  font-weight: bold; }

.details {
  margin: 20px; }
  .details p {
    font-size: 16px;
    line-height: 26px; }
  .details ul {
    list-style: none;
    padding-left: 0;
    margin: 0; }
    .details ul li {
      display: inline-block; }
      .details ul li:not(:first-child) {
        padding: 15px; }
      .details ul li:first-child {
        padding: 10px 10px 10px 0; }
  .details a {
    color: #011627;
    font-size: 16px; }
    .details a:hover {
      color: #2ec4b6; }

.fa {
  padding-right: 15px;
  padding-top: 10px;
  color: #2ec4b6; }
  .fa:hover {
    opacity: 0.7; }

.project-github {
  color: #011627 !important;
  padding-right: 8px !important; }

.menu-section {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  width: 100%; }

.hide {
  display: none; }

.menu-section__toggle {
  width: 40px;
  height: 30px;
  position: fixed;
  top: 20px;
  left: 25px;
  cursor: pointer;
  z-index: 100; }

.menu-section__toggle.on {
  left: auto;
  right: 25px; }

.menu-section.on {
  z-index: 100;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(1, 22, 39, 0.95);
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .menu-section.on nav ul {
    list-style: none;
    padding-left: 0; }
    .menu-section.on nav ul li:hover {
      color: #2ec4b6; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 1;
  background-color: white; }

.absolute {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center; }

.right {
  float: right; }

.nav-link {
  text-decoration: none;
  color: #fffffa;
  font-size: 40px;
  line-height: 80px;
  font-family: "amethystregular"; }

.toggle1, .toggle2, .toggle3 {
  width: 100%;
  background: lightgray;
  margin: 8px auto;
  height: 2px; }

.toggle1.on, .toggle3.on {
  float: right;
  margin: 8px 7px;
  height: 3px; }

.toggle1.on {
  transform: rotate(45deg) translate(9px, 7px); }

.toggle2.on {
  opacity: 0; }

.toggle3.on {
  transform: rotate(-45deg) translate(8px, -5px); }

@media screen and (min-width: 460px) {
  .name-header {
    width: 320px; }
  #introduction-container h2, #introduction-container ul {
    font-size: 26px; }
  #about-header {
    width: 320px; }
  #profile-picture {
    width: 160px; }
  #about-me-text-container p {
    font-size: 18px; }
  #work-header {
    width: 290px; }
  .work-sample-header {
    font-size: 48px; }
  .work-sample-description {
    font-size: 22px; }
  .see-project-details-button {
    font-size: 16px; }
  .details p, .details a {
    font-size: 18px; }
  .jump-to-code {
    font-size: 16px !important; }
  .project-github {
    font-size: 24px; }
  .node {
    width: 50px !important; }
  .icon {
    width: 60px; }
  .contact-header {
    width: 380px; } }

@media screen and (min-width: 600px) {
  .screenshot, #edster-algo {
    width: 80%; } }

@media screen and (min-width: 768px) {
  .name-header {
    width: 380px;
    margin: 40px 15px 40px 0; }
  .work-label-wrapper {
    width: 50%;
    position: relative; }
  .section-container {
    display: flex; }
  .label-container, .content-container {
    width: 50%; }
  #about-me-container {
    align-items: flex-start;
    justify-content: center; }
    #about-me-container p {
      line-height: 28px;
      font-size: 18px; }
  #profile-picture {
    margin: 0 0 15px 30px; }
  .details {
    margin: 0;
    border-left: 1px solid #2ec4b6;
    border-bottom: 1px solid #2ec4b6;
    padding: 0 24px; }
    .details ul {
      margin-bottom: 20px; }
  #contact-details {
    padding: 35px;
    height: 100vh;
    min-height: 800px;
    position: relative; }
    #contact-details p {
      padding-right: 14px;
      font-size: 20px;
      line-height: 32px; }
  #name-contact {
    font-size: 22px !important;
    line-height: 40px !important; }
  #contact-name-email {
    position: absolute;
    top: 27%; }
  #contact-links {
    position: absolute;
    bottom: 30%;
    font-size: 18px; }
  .nav-link {
    font-size: 50px;
    line-height: 105px; }
  .close-button-container {
    margin-right: 10px;
    margin-top: 5px; }
  .screenshot {
    margin-top: 60px; } }

@media screen and (min-width: 1200px) {
  .name-header {
    width: 420px;
    margin: 50px 15px 50px 0; }
  #about-header {
    width: 360px; }
  #about-me-text-container {
    margin: 0 60px 20px 60px; }
  #about-me-container p {
    line-height: 32px;
    font-size: 18px;
    margin-bottom: 24px; }
  #profile-picture {
    width: 175px;
    margin: 0 0 10px 60px; }
  #work-header {
    width: 315px; }
  #contact-details p {
    padding-right: 30px; }
  #name-contact {
    font-size: 24px !important;
    line-height: 40px !important; }
  #contact-links {
    bottom: 30%;
    font-size: 20px; }
  .nav-link {
    font-size: 55px;
    line-height: 110px; }
  .contact-header {
    width: 450px; } }
