@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,400i,700,700i|Martel+Sans:200,300,400|News+Cycle:400,700");
.introduction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #011627;
  height: 100vh; }
  .introduction-container h1 {
    font-family: "amethystregular";
    color: #fffffa; }
  .introduction-container h2, .introduction-container ul {
    color: #2ec4b6;
    font-family: 'Libre Franklin 100', sans-serif;
    margin: 0;
    font-size: 20px; }
  .introduction-container ul {
    list-style: none;
    padding-left: 0;
    padding-top: 14px; }
    .introduction-container ul li {
      display: inline-block;
      text-align: center; }
    .introduction-container ul li + li:before {
      content: " / "; }

.name-header {
  width: 270px;
  margin: 30px 15px 30px 0; }

.about-label-container {
  background-color: #2ec4b6; }

.about-header {
  width: 280px; }

.about-me-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about-me-container p {
    margin: 0 20px 30px 20px; }

.profile-picture {
  width: 150px;
  margin: 30px 0;
  border-radius: 2px; }

.work-header {
  margin-right: 10px;
  width: 270px; }

#localize-container {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/city.jpg") no-repeat center center fixed;
  background-size: cover; }

#edster-container {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/travel.jpg") no-repeat center center fixed;
  background-size: cover; }

#kapitol-container {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/kapitol.jpg") no-repeat center center fixed;
  background-size: cover; }

#yaarn-container {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/yaarn-story.jpg") no-repeat center center fixed;
  background-size: cover; }

.work-sample-header, .work-sample-description, .see-project-details-button {
  color: white;
  margin: 0; }

.work-sample-header {
  font-size: 32px; }

.see-project-details-button {
  border: 3px solid #2ec4b6;
  background-color: transparent;
  height: 50px;
  width: 55px;
  font-size: 14px;
  margin: 8px 0; }
  .see-project-details-button:hover {
    opacity: 0.7; }
  .see-project-details-button:focus {
    outline: none; }

#localize-details-container {
  height: 100vh; }

.project-details {
  margin: 20px; }
  .project-details p, .project-details span {
    font-size: 14px; }
  .project-details a {
    color: #011627;
    font-size: 14px; }
    .project-details a:hover {
      opacity: 0.7; }

.hidden {
  display: none; }

.close-button {
  float: right;
  margin: 15px 30px;
  font-size: 18px;
  background: transparent;
  border: none;
  color: #2ec4b6; }
  .close-button:hover {
    opacity: 0.7; }

.close-button-container {
  height: 30px; }

.contact-label-container {
  background-color: #011627;
  height: 100vh; }

#contact-details {
  height: 100vh; }

.contact-header {
  width: 270px; }

@-ms-viewport {
  width: device-width; }

@font-face {
  font-family: 'amethystregular';
  src: url("../fonts/amethyst-webfont.woff2") format("woff2"), url("../fonts/amethyst-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  background-color: #fffffa;
  font-family: 'Libre Franklin 100', sans-serif;
  color: #011627; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.centered-container {
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center; }

.bold {
  font-weight: bold; }

.details {
  margin: 20px; }
  .details p, .details span {
    font-size: 14px; }
  .details a {
    color: #011627;
    font-size: 14px; }
    .details a:hover {
      opacity: 0.7; }
